#container #contentWrapperShadow #contentWrapper #hero #heroMenu ul li ul li {
	position: relative;
}

#container #header #topHat #mainMenu ul.parent li ul.child.secondaryMenuTwo li {
	position: relative;
}

#container #contentWrapperShadow #contentWrapper #contentMain #moduleCM3 .videoCarousel .videoThumb.current {
	background-image: url(../images/bgVideoAggregatorCurrent.png);
}

#container #contentWrapperShadow #contentWrapper #contentMain #moduleCM3 .videoCarousel .videoThumb .caption {
	margin-top: 2.0em;
	padding-top: 0;
}