div.selectbox-wrapper {
	position:absolute;
	width:400px;
	background-color:white;
	margin:0px;
	margin-top:-10px;
	padding:0px;
	font-size:0.8em;
	text-align:left;
	max-height:200px;
	overflow:auto;
	*height:200px; /*IE6 fix */
}
div.selectbox-wrapper ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
  background-color: #518db5;
  color: #07405f;
}
div.selectbox-wrapper ul li.selected { 
  background-color: #EAF2FB;
}
div.selectbox-wrapper ul li.current { 
  background-color: #CDD8E4;
}
div.selectbox-wrapper ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  cursor:pointer;
}

label {
    display: block;
}
.selectbox /* look & feel of  select box*/
{
  margin: 0px 5px 10px 0px;
  padding-left:2px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:0.8em;
  width : 10em; 
  display : block;
  text-align:left; 
  background: url('../images/bgSelectBox.png') right;
  /*height:18px;*/
  cursor: pointer;
  border:1px solid #D1E4F6;
  color:#333;
}

.selectbox1 /* look&fell of  select box*/
{
  margin: 0px 5px 10px 0px;
  padding-left:2px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:0.8em;
  width : 10em; 
  display : block;
  text-align:left; 
  background: url('../images/bgSelectBox.png') right;
  /*height:18px;*/
  cursor: pointer;
  border:1px solid #D1E4F6;
  color:#333;
}

div.selectbox2-wrapper {
  position:absolute;
  background-color:white;
  border:1px dotted #DADF81;
  margin:0px;
  padding:0px;
  text-align:right;
  overflow:auto;
}
div.selectbox2-wrapper ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.selectbox2-wrapper ul li.selected { 
  background-color: #ECEFB7;
}
div.selectbox2-wrapper ul li.current { 
  background-color: #CBE5B0;
}
div.selectbox2-wrapper ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  cursor:pointer;
}
div.selectbox2-wrapper ul li.groupname {
  font-style: italic;
  font-weight: bold;
  font-size: smaller;
  cursor: default;
}

.selectbox2{
/*   margin: 0px 5px 10px 100px; */
  padding-right:20px;
  width : 180px; 
  display : block;
  text-align:right; 
 background: url('../images/bgSelectBox.png') right;
  height:20px;
  cursor: pointer;
  border:1px solid #ECEFB7;
}

